 @model HelpingHands.Models.Users.Nurse
@{
    ViewData["Title"] = "Nurse Profile";
}

<div class="mt-2">

    <div class="d-flex mb-2">

        <h5 class="fw-bold">Profile</h5>

        <div class="ms-auto">
            <a class="btn btn-success small-btn" style="margin-right: 2rem;" title="Update Profile" asp-action="UpdateNurseProfile" asp-controller="Profile">Update Profile</a>
        </div>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["SuccessMessage"]
        </div>
    }

<div class="row">

    <div class="col-9">

            <div class="rounded-2 p-3 bg-profile">

                <h5 class="fw-bold mb-3">Personal Details</h5>
                <div class="row">
                    <div class="col-3">

                     <h6 class="text-lg-start fw-bold">First Name:</h6>  
                    </div>
                    <div class="col-6">
                        @Model.FirstName
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                      <h6 class="text-lg-start fw-bold">Last Name:</h6>
                    </div>
                    <div class="col-6">
                       @Model.LastName
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                      <h6 class="text-lg-start fw-bold">Cell Number:</h6>
                    </div>
                    <div class="col-6">
                       @Model.CellNo
                    </div>
                </div> 
                <hr />
                <div class="row">
                    <div class="col-3">

                      <h6 class="text-lg-start fw-bold">E-mail Address:</h6>
                    </div>
                    <div class="col-6">
                       @Model.Email
                    </div>
                </div> 
                <hr />
                <div class="row">
                    <div class="col-3">

                      <h6 class="text-lg-start fw-bold">ID Number:</h6>
                    </div>
                    <div class="col-6">
                       @Model.IDNumber
                    </div>
                </div>
                  <hr />
                <div class="row">
                    <div class="col-3">

                      <h6 class="text-lg-start fw-bold">Gender:</h6>
                    </div>
                    <div class="col-6">
                        @if (Model.Gender != null)
                        {
                            @if (Model.Gender.Contains("F"))
                            {
                                <p>Female </p>
                            }
                            else if (Model.Gender.Contains("M"))
                            {
                                <p>Male </p>
                            }
                        }
                        else
                        {
                            <p></p>
                        }
                    </div>
                </div> 
                <hr />
                <h5 class="fw-bold">My Preffered Suburbs</h5>
                @foreach (var prefSuburbs in ViewBag.prefferedSuburbs)
                {
                    <div class="row">
                        <div class="col-6">
                            -@prefSuburbs
                        </div>
                    </div>
                }


        </div>
       
       
    </div>
        <div class="col-3">

            <div class="p-3 text-center rounded-2 bg-profile" >

                <img src="@(Model.ProfilePicUrl != null ? Url.Content(Model.ProfilePicUrl) : Url.Content("https://picsum.photos/200/300"))" class="rounded-4" width="200" height="200" style="margin-top:50px">

                <h4 class="mt-3 fw-bold">@Model.FirstName @Model.LastName  </h4>

                <a class="btn btn-green small-btn"  title="Upload Profile Picture" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    update profile picture <i class="bi bi-pen"></i>
                </a>
            </div>

            <div class="p-3 text-center rounded-2">

                <a asp-action="" asp-controller=""> <i class="bi bi-shield-lock"></i> Change Password</a>
            </div> 

        </div>

</div>


</div>


<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="imageUpload">Choose an image:</label>
                        <input type="file" class="form-control-file" id="imageUpload">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>




<script>

    $('#uploadModal .btn-success').on('click', function (e) {
        e.preventDefault();

        var imageUpload = $('#imageUpload')[0].files[0];
        var formData = new FormData();
        formData.append('image', imageUpload);

        $.ajax({
            url: '/Profile/UploadProfilePicture',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#uploadModal').modal('close');

                
                $('.rounded-4').attr('src', response.url);
            },
            error: function (error) {
                
            }
        });
    });
</script>