@model HelpingHands.Models.Users.Patient
@{
    ViewData["Title"] = "Patient Profile";
}

<div class="mt-2">

    <div class="d-flex mb-2">

        <h5 class="fw-bold">Profile</h5>

        <div class="ms-auto">
            <a asp-action="UpdatePatientProfile" asp-controller="Profile" class="btn btn-success small-btn" style="margin-right: 2rem;" title="Update Profile">Update Profile</a>
        </div>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["SuccessMessage"]
        </div>
    }

    <div class="row">
        <div class="col-9">

            <div class="rounded-2 p-3 bg-profile">

                <h5 class="fw-bold mb-3">Personal Details</h5>
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">First Name:</h6>
                    </div>
                    <div class="col-6">
                        @Model.FirstName
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">Last Name:</h6>
                    </div>
                    <div class="col-6">
                        @Model.LastName
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">Cell Number:</h6>
                    </div>
                    <div class="col-6">
                        @Model.CellNo
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">E-mail Address:</h6>
                    </div>
                    <div class="col-6">
                        @Model.Email
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">ID Number:</h6>
                    </div>
                    <div class="col-6">
                        @Model.IDNumber
                    </div>
                </div> 
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">DOB:</h6>
                    </div>
                    <div class="col-6">
                        @(Model.DOB == DateTime.MinValue ? "" : Model.DOB.ToString("dd/MM/yyyy"))
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">Address:</h6>
                    </div>
                    <div class="col-6">
                        @Model.AddressLine1  @Model.AddressLine2  @Model.Suburb.Name, @Model.Suburb.City?.Name , @Model.Suburb?.PostalCode
                    </div>
                </div>
                <hr />
                <h5 class="fw-bold">Emergency Contact</h5>
                <div class="row">

                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">Full Name:</h6>
                    </div>
                    <div class="col-6">
                        @Model.EmergencyPerson
                    </div>
                </div>
                <hr />

                <div class="row">

                    <div class="col-3">

                        <h6 class="text-lg-start fw-bold">Cell No:</h6>
                    </div>
                    <div class="col-6">
                        @Model.EmergencyPersonNo
                    </div>
                </div>
                <hr />
                <h5 class="fw-bold">My Chronic Condition</h5>
                @foreach (var chronicCon in ViewBag.PatientChronic)
                {
                    <div class="row">
                        <div class="col-6">
                            -@chronicCon
                        </div>
                    </div>
                }
           
            </div>







        </div>
        <div class="col-3">

            <div class="p-3 text-center rounded-2 bg-profile">

                <img src="@(Model.ProfilePicUrl != null ? Url.Content(Model.ProfilePicUrl) : Url.Content("https://placehold.co/400"))" class="rounded-4" width="200" height="200" style="margin-top:50px">

                <h4 class="mt-3 fw-bold">@Model.FirstName @Model.LastName  </h4>

                <a class="btn btn-green small-btn" title="Upload Profile Picture" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    update profile picture <i class="bi bi-pen"></i>
                </a>
            </div>

            <div class="p-3 text-center rounded-2 bg-profile mt-5">

                <a asp-action="UpdatePassword" asp-controller="Profile" class="text-black"> <i class="bi bi-shield-lock"></i> Update Password</a>
            </div>

        </div>

    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="imageUpload">Choose an image:</label>
                        <input type="file" class="form-control-file" id="imageUpload">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('#uploadModal .btn-success').on('click', function (e) {
        e.preventDefault();

        var imageUpload = $('#imageUpload')[0].files[0];
        var formData = new FormData();
        formData.append('image', imageUpload);

        $.ajax({
            url: '/Profile/UploadProfilePicturePatient',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#uploadModal').modal('hide');


                $('.rounded-4').attr('src', response.url);
            },
            error: function (error) {

            }
        });
    });
</script>