@{
    ViewData["Title"] = "Index";
    var careContracts =  ViewBag.Contract as IEnumerable<CareContract>;
    var careVisits = ViewBag.Visits as IEnumerable<CareVisit>;
}

<div class="container">





    <div class="row">
        <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
            <div class="d-flex p-2">
                <div class="fw-bold text-success fs-1">
                    <i class="bi bi-geo-fill"></i>
                </div>
                <div class="ms-auto text-center">
                    <h3>@ViewBag.VisitsCount</h3>
                    <p>Total Visits</p>
                </div>

            </div>
        </div>
        <div class="col-3 bg-white rounded-1 shadow-sm  small-margin">
            <div class="d-flex p-2">
                <div class="fw-bold text-warning fs-1">
                    <i class="bi bi-mailbox"></i>
                </div>
                <div class="ms-auto text-center">
                    <h3>@ViewBag.ContractCounts</h3>
                    <p>New Contracts</p>
                </div>

            </div>
        </div>
        <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
            <div class="d-flex p-2">
                <div class="fw-bold text-danger fs-1">
              <i class="bi bi-person-hearts"></i>
                </div>
                <div class="ms-auto text-center">
                    <h3>@ViewBag.NurseCount</h3>
                    <p>Active Nurses</p>
                </div>

            </div>
        </div>
        <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
            <div class="d-flex p-2">
                <div class="fw-bold text-primary fs-1">
                    <i class="bi bi-envelope-paper"></i>
                </div>
                <div class="ms-auto text-center">
                    <h3>0</h3>
                    <p>new emails</p>
                </div>

            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12 shadow-sm">
            
            <div class="d-flex">
            <div>

            <h5> Un-Assigned Care Contracts</h5>
            </div>
            <div class="ms-auto">
                <a class="btn btn-danger small-btn"> <i class="bi bi-eye"></i>View More</a>
            </div>

            </div>
            <table class="table small-text">
                <thead>
                    <tr>
                        <th>Contract Date</th>  
                        <th>Patient</th>
                        <th>Wound Description</th>
                        <th>Location</th>
                        <th>Days Overdue</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in careContracts)
                    {
                       
                        <tr>
                            <td>
                                @item.ContractDate.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.Patient?.FirstName @item.Patient?.LastName
                            </td>
                            <td>
                                @item.WoundDescription
                            </td>
                            <td>
                                @item.AddressLine1 @item.AddressLine2 @item.Suburb?.Name @item.Suburb?.City?.Name @item.Suburb?.PostalCode
                            </td>
                            <td>
                                @{
                                    DateTime currentDate = DateTime.UtcNow;
                                    TimeSpan overdueDays = currentDate - item.ContractDate.Value;
                                    int daysOverdue = overdueDays.Days;
                                    @daysOverdue
                                }
                            </td>
                            <td>
                                
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
     
        </div>
          

    </div>

</div>

