@model IEnumerable<HelpingHands.Models.Users.UserModel>
@{
    ViewData["Title"] = "Nurses";
}


<div class="d-flex mb-3 mx-3">

    <h5 class="fw-bold">Nurses</h5>

    <div class="ms-auto">

        <a asp-action="NurseUser" asp-controller="OfficeManager" class="btn btn-success">New Nurse</a>
    </div>

</div>

<div class="p-3 mx-3">
    <table class="table table-striped small-text" id="userTable">
        <thead class="thead-dark mt-3">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    E-Mail
                </th>
                <th class="no-sort">
                    Cell Number
                </th>
                <th class="no-sort">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="">
                        @item.CellNo
                    </td>
                    <td>
                        <a class="btn btn-outline-success rounded-3 small-btn " asp-controller="OfficeManager" asp-action="NurseActivity" asp-route-Id="@item.UserID">
                          <i class="bi bi-activity"></i>  Activities
                        </a>
                        <a class="btn btn-outline-dark rounded-3 small-btn " asp-controller="OfficeManager" asp-action="NurseDetails" asp-route-Id="@item.UserID">
                          <i class="bi bi-person-circle"></i> Nurse Details
                        </a>
                    </td>
                </tr>
               
            }
        </tbody>
    </table>
</div>




<script>

    $(document).ready(function () {
        $("#userTable").DataTable({
            "scrollY": "430px",
            "scrollCollapse": true,
            "columnDefs": [
                { "orderable": false, "targets": 'no-sort' }
            ],
            "rowReorder": true,
            "max-width": "100%"
        });




    });
</script>
